APP_ENV=local
APP_KEY=base64:pzWtIDtitDFmpQ4X3BtcgxBwmC1lqmSXjPhOuLKqzDg=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=careplus
DB_USERNAME=root
DB_PASSWORD=null

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null


TWILIO_SID=ACf119c9df7586ed00d6710d6a0fb83da4
TWILIO_TOKEN=3d10a9a7a02b46188c6e9f983d18c470
TWILIO_FROM=+12138630531